:root {
  --visualization-box-size: 770px;
}

.visualization-menu {
  /* background-color: #292f33; */
  background-color: none;
}

.visualization-component {
  background-color: #292f33;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 510px;
  width: 770px;
  padding: 15px;
  border: none;
}

.visualization-box {
  background-color: #66757f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--visualization-box-size);
  height: var(--visualization-box-size);
  border: none;
  margin: 15px 0 0 0;
  box-sizing: border-box;
}
