.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 370px;
  padding: 0 15px;
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 170px;
  padding: 15px;
  background-color: #292f33;
  margin: 0 0 15px 0;
  box-sizing: border-box;
}
